body{
    background-image: url("../img/fundo(2).jpg") ;
    background-repeat: no-repeat;
    background-position: top;
}
.form-cadastro{
    width: 870px;
    border: 1px #777 solid;
    background: #F8F8FF;
    box-sizing: border-box;
    padding-left: 35px;
    padding-bottom: 10px;
    margin-top: 30px;
    position: absolute;
    left: 95px;
    top: 85px;
    border-radius: 30px;
    opacity: 0.9;
}
.form-cadastro:hover{
    opacity: 1;
}
.form-dados{
    padding-top: 20px;
}
.form-flex{
    display: flex;
    flex-wrap: wrap;
}
.form-valor{
    display: flex;
    align-items: center;
}
.form-combos{
    display: flex;
    align-items: center;
}
.form-botoes{
    padding-left: 15px; 
    display: flex;
    justify-content: flex-end;
}
.btn{
    margin: 3px;
}
.form-group{
    box-sizing: border-box;
    margin: 10px;   
}

.titulo {
    padding-bottom: 9px;
    border-bottom: 1px solid #eeeeee;
    font-size: 36pt;
}

/*footer{
    height: 30px;
    width: 100%;
    bottom: 0;
    margin: auto; 
    position: fixed;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #000000, rgba(165, 198, 196, 0.26));
    color: #FFF;
    padding: 1em;
    font-size: 18px;
    font-family: 'Kaushan Script', cursive;
}*/
.menu-itens{
    padding: 10px 30px 9px 96px;
    font-family: 'Lora', serif;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
.menu-itens>li>a {
    color: black;
    font-weight: bold;
}
.menu{
    display: flex;
    width: 100%;
    background: #f4f4fa;
    box-shadow: 8px 15px 35px #888888;
}
.logo{
    padding: 10px 30px 9px 96px;
    /*    width: 100px;
        height: 103px;*/
}
.form-borda{
   border: 1px solid #888888;
   border-radius:20px 20px 20px 20px;
}
/*Tamanho de campos*/
.form-cliente, .form-produto, .form-colecao{
    width: 70%;
}

.form-cpf, .form-nascimento, .form-sexo {
    width: 17%;
}
.form-periodo, .form-ano, .form-codigo, .form-valor-item, .form-tipo, .form-comboColecao{
    width: 20%;
}
.form-cor{
    width: 17%;
}
.form-descricao{
    width: 93%;
}
.form-tamanho, .form-quantidade{
    width: 10%
}