body{
    background-image: url("../img/fundo(2).jpg") ;
    background-repeat: no-repeat;
    background-position: top;
}
.form-cadastro{
    width: 870px;
    border: 1px #777 solid;
    background: #F8F8FF;
    box-sizing: border-box;
    padding-left: 35px;
    padding-bottom: 10px;
    margin-top: 30px;
    position: absolute;
    left: 95px;
    top: 85px;
    border-radius: 30px;
    opacity: 0.9;
}
.form-cadastro:hover{
    opacity: 1;
}
.form-dados{
    padding-top: 20px;
}
.form-ativo{
    position: absolute;
    left: 78%;
    top: 26%;
}
.form-botoes{
    padding-left: 15px; 
}
.form-colecao{
    width: 70%;
}

.form-periodo{
    width: 20%;
}
.form-ano{
    width: 12%;
}
.form-codigo{
    width: 12%;
}
.form-produto{
    width: 50%;
}
.form-group{
    box-sizing: border-box;
}
.titulo {
    padding-bottom: 9px;
    border-bottom: 1px solid #eeeeee;
    font-size: 36pt;
}
footer{
    height: 30px;
    width: 100%;
    bottom: 0;
    margin: auto; 
    position: fixed;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #000000, rgba(165, 198, 196, 0.26));
    color: #FFF;
    padding: 1em;
    font-size: 18px;
    font-family: 'Kaushan Script', cursive;
}
.menu{
    padding: 11px 0px 0px 96px;
    padding-bottom: 6px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    background: #f4f4fa;
    /*    border-bottom: 1px #777 solid;*/
    box-shadow: 8px 15px 35px #888888;
}
.menu>li>a {
    color: black;
    font-weight: bold;
}
