.form-codigo{
    width: 20%;
}
.form-produto{
    width: 70%;
}
.form-valor-item{
    width: 20%;
}
.form-tipo{
    width: 20%;
}
.form-cor{
    width: 17%;
}
.form-descricao{
    width: 93%;
}.form-colecao{
    width: 20%;
}
